.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
    padding: 24px 20px;
    border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #11101C;
}

.logoSpan {
    color: #3470FF;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: #11101C;
}

.activeLink {
    font-weight: bold;
    position: relative;
}

.activeLink::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: #3470FF;
    border-radius: 50%;
}

.authButtons {
    display: flex;
    gap: 10px;
}

.loginBtn {
    padding: 14px 39px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(25, 26, 21, 0.2);
    /* Figma tarzı hafif gri kenarlık */
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #11101c;
    transition: all 0.2s ease;
}

.loginBtn:hover {
    border-color: #3470ff;
    color: #3470ff;
}

.regBtn {
    padding: 14px 40px;
    cursor: pointer;
    background: #3470FF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s ease;
    box-shadow: 0px 4px 10px rgba(52, 112, 255, 0.2);
    /* Hafif mavi gölge */
}

.regBtn:hover {
    background-color: #2a5ac9;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.userName {
    font-weight: 500;
    color: #11101c;
}

.logoutBtn {
    padding: 8px 16px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #11101c;
    color: #11101c;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.logoutBtn:hover {
    background: #11101c;
    color: white;
}