/* Temel Kutu Modeli ve Sıfırlama */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #fbfbfb;
  /* Figma'nın ana arka plan rengi */
  color: #11101C;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* Header ve Sayfaların aynı hizada kalması için genel kapsayıcı (Container) */
.global-container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 20px;
}